$color-accent: #182438 !default
$color-text: #000000 !default
$color-text-alt: #454545 !default
$color-border: rgba(0, 0, 0, 0.30) !default
$color-background-alt: #F2F2F2 !default
$color-background: #FFFFFF !default

$body-font-family: "Adelphe", serif !default
$heading-font-family: $body-font-family !default

$h1-size-desktop: pxToRem(60) !default
$h1-size: pxToRem(26) !default
$h1-line-height: 120% !default
$h1-weight: normal !default
$h3-weight: normal !default
$lead-hero-size-desktop: $h1-size-desktop !default
$lead-hero-size: $h1-size !default

$header-background: transparent !default
$header-border-bottom-width: 0 !default
$header-dropdown-full: true !default
$header-logo-height: 30px !default
$header-logo-height-desktop: 40px !default
$header-sticky-invert-logo: true !default
$header-sticky-color: $color-text !default
